body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board-container {
  display: flex;
  flex-direction: column
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin: 0 auto;
  width: 50%;
}

.board-row {
  margin: 0 auto;
}

.title {
  text-align: center;
}

.board-contents {
  text-align: center;
}

.reset-button {
  margin-top: 24px;
}
